html
    head
        title PG Data Summary
        link(rel="stylesheet", href="/css/style.css")
    body
        block content
        br
        hr
        footer
            p Copyright &copy; 2019